# =========================
# 开发工具与编辑器配置
# =========================
# JetBrains IDE (如 PyCharm, CLion 等)
.idea/
# VS Code
.vscode/
# 临时文件
*.swp
*.swo

#视频
*.mp4
*.jpg
# =========================
# Python 及 虚拟环境
# =========================
__pycache__/
*.py[cod]
*$py.class
# 虚拟环境目录（通常命名为 venv 或 env）
venv/
env/
.venv/
# 环境变量配置（通常包含密码或API Key，绝不能上传）
.env

# =========================
# 深度学习 / YOLO / 计算机视觉
# =========================
# 训练生成的权重文件
*.pt
*.pth
*.weights
# 训练日志和结果输出目录
runs/
# 庞大的数据集和标注文件夹
datasets/
data/
images/
labels/

# =========================
# C 语言及编译产物
# =========================
# 编译生成的中间文件和可执行程序
*.o
*.obj
*.exe
*.out
*.app